.modal {
  position: absolute;
  background: rgba($color-black, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__content {
  width: 100%;
  background: $color-white;
  padding: 48px 32px 32px;
  margin: 0 16px;
  position: relative;
  overflow-x: hidden;

  @media only screen and (min-width: 768px) {
    max-width: 320px;
  }
}

.modal__textfield {
  .modal__textfield + & {
    margin-top: 24px;
  }
}

.modal__close {
  cursor: pointer;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 16px;
  top: 16px;

  &::before {
    content: '';
    height: 16px;
    width: 2px;
    background: $color-black;
    position: absolute;
    top: 0;
    right: 8px;
    transform: rotate(45deg)
  }

  &::after {
    content: '';
    height: 2px;
    width: 16px;
    background: $color-black;
    position: absolute;
    top: 0px;
    right: 8px;
    transform: rotate(45deg) translateX(10px)
  }
}

.modal__submit {
  margin-top: 16px;
}
