$border-radius: 10px;

$font-family-base: 'Open Sans', Helvetica, sans-serif;

$color-blue: #0071ce;
$color-orange: #ffb511;
$color-black: #0f0f0f;
$color-light-orange: #ffd370;
$color-white: #ffffff;
